* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-bg: #0f0c29;
  --color-bg-accent: #302b63;
  --color-surface: #24243e;
  --color-primary: #00ffff;
  --color-secondary: #00f6ff;
  --color-success: #39ff14;
  --color-error: #ff00ff;
  --color-warning: #f9f871;
  --color-text-main: #ffffff;
  --color-text-secondary: #cccccc;
  --color-border: #00ffff40;
  --color-shadow: #00ffff22;
}

#progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--color-bg);
  z-index: 1000;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: var(--color-primary);
}
header {
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "Open Sans", sans-serif;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header-content .logo {
  color: var(--color-text-main);
}

.header-content .logo span {
  color: var(--color-primary);
}

.header-content nav {
  border-radius: 0.5rem;
  box-shadow: 0 0 5px var(--color-border), 0 0 10px var(--color-border);
}

.header-content nav ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.header-content nav ul li {
  padding: 0.5rem;
}

.header-content nav ul li:hover {
  background-color: var(--color-bg-accent);
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}
.header-content nav ul li a {
  color: var(--color-text-main);
  font-weight: 500;
}
.header-content nav ul li a:hover {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.hero-section {
  background: linear-gradient(135deg, var(--color-bg), var(--color-bg-accent));
  color: var(--color-text-main);
  padding: 8rem 2rem;
  text-align: center;
}

.hero-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-section h1 span {
  background: linear-gradient(
    135deg,
    var(--color-error),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-inline: auto;
}

.hero-section .github-repo {
  background-color: var(--color-surface);
  color: var(--color-text-main);
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px var(--color-shadow), 0 0 10px var(--color-shadow);
  display: flex;
  align-items: center;
  width: max-content;
  margin-inline: auto;
  transition: all 0.3s ease;
}

.hero-section .github-repo:hover {
  background-color: var(--color-bg);
  transform: scale(1.05);
  box-shadow: 0 0 5px var(--color-error), 0 0 10px var(--color-primary);
}

.hero-section .github-repo i {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.projects-section {
  padding: 4rem 2rem;
  background-color: var(--color-surface);
  color: var(--color-text-main);
  display: grid;
  gap: 2rem;
}

.projects-section .project-card {
  background-color: var(--color-bg);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0 5px var(--color-shadow), 0 0 10px var(--color-shadow);
}

.projects-section .project-card .project-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
.projects-section .project-card .project-image img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  border: 2px solid var(--color-border);
}

.projects-section .project-card .project-info {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.project-card .project-info h3 {
  color: var(--color-text-main);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.project-card .project-info p {
  margin-bottom: 0.5rem;
  color: var(--color-text-secondary);
}

.project-card .project-info .technology .tech {
  display: inline-block;
  background-color: var(--color-bg-accent);
  color: var(--color-text-main);
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.project-card .project-info .see-project {
  display: inline-block;
  box-shadow: 0 0 5px var(--color-shadow), 0 0 10px var(--color-surface);
  color: var(--color-text-main);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.about-section {
  padding: 4rem 2rem;
  background-image: repeating-radial-gradient(
    circle at top left,
    var(--color-bg),
    var(--color-bg-accent)
  );
  color: var(--color-text-main);
  text-align: center;
}

.about-section .about-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section .about-para {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
}

.about-section .about-box {
  max-width: 1000px;
  margin: 3rem auto;
  background-color: var(--color-surface);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px var(--color-error), 0 0 10px var(--color-shadow), 0 0 20px var(--color-primary);
}

.about-section .about-box h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-text-main);
}

.about-section .about-box p {
  font-size: 1rem;
  color: var(--color-text-secondary);
  line-height: 1.5;
}

.about-section .about-box span {
  color: var(--color-secondary);
  font-weight: bold;
}

.about-section .author p {
  font-size: 1rem;
  color: var(--color-text-secondary);
  line-height: 1.5;
}

.about-section .social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.about-section .social-media a {
  color: var(--color-text-main);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.about-section .social-media a:hover {
  color: var(--color-primary);
}

.footer {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  text-align: center;
  padding: 1rem;
}

.footer .footer-left .logo {
  color: var(--color-text-main);
  font-size: 1.5rem;
  font-weight: bold;
}

.footer .footer-left .logo span {
  color: var(--color-primary);
}

.footer .footer-right {
  margin-top: 1rem;
}

.footer .footer-right .copyright {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}

.footer-right .footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.footer-right .footer-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}
.footer-right .footer-links a {
  color: var(--color-text-main);
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-right .footer-links a:hover {
  color: var(--color-primary);
}

.footer-right .footer-social a {
  color: var(--color-text-main);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-right .footer-social a:hover {
  color: var(--color-primary);
}
/* Tablet BreakPoint */
@media (min-width: 640px) {
  .header-content {
    padding: 2rem;
  }

  .hero-section {
    padding: 10rem 4rem;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .projects-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-section {
    padding: 6rem 4rem;
  }

  .footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Laptop BreakPoint */
@media (min-width: 768px) {
  .header-content .logo {
    font-size: 2rem;
  }

  .header-content nav {
    padding: 0.2rem 1rem;
  }

  .header-content nav ul {
    gap: 1rem;
  }

  .hero-section {
    padding: 12rem 6rem;
  }

  .hero-section h1 {
    font-size: 3rem;
  }

  .projects-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-section {
    padding: 8rem 6rem;
  }
}

/* Desktop BreakPoint */
@media (min-width: 1024px) {
  .hero-section {
    padding: 8rem;
  }

  .hero-section h1 {
    font-size: 4rem;
  }

  .projects-section {
    grid-template-columns: repeat(4, 1fr);
  }

  .about-section .social-media a {
    font-size: 2rem;
  }

  .footer {
    padding-block: 2rem;
  }

  .footer .footer-left .logo {
    font-size: 2rem;
  }
}
