* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
}

.wrapper {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
}

.wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
}

.wrapper .input-field {
  margin-block: 1rem;
}

.wrapper .input-field label {
  width: 100%;
  margin-bottom: 0.4rem;
  display: inline-block;
}
.wrapper .input-field input {
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  border: 1px solid #000;
  background-color: transparent;
  outline: none;
}

.wrapper .input-field input:focus {
  border-color: red;
}

.wrapper .calculate {
  padding: 0.3rem 1rem;
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: lightblue;
  cursor: pointer;
  font-weight: 600;
}

.wrapper .result{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}