* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.qr-wrapper {
  display: flex;
  align-items: center;
  background-color: #141414;
  color: #fff;
  padding: 2rem;
  max-width: 800px;
  margin:5rem auto;
}

.qr-wrapper .inputs-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.qr-wrapper .inputs-box .group {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.inputs-box .group input:not([type="color"]) {
  padding: 0.5rem;
}

.qr-wrapper .qr-image{
    flex: 1;
}


.inputs-box .download{
  padding: 0.5rem;
  background-color: royalblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

@media(max-width:600px){
  .qr-wrapper{
    flex-direction: column;
  }
}