*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: #f4f4f4;
}

.section {
  padding: 100px;
  margin: 60px auto;
  width: 90%;
  max-width: 700px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: all 0.6s ease;
}

.section:nth-child(odd){
  transform: translateX(-200px);
}
.section:nth-child(even){
  transform: translateX(200px);
}

.section.show {
  opacity: 1;
  transform: translateX(0);
}
